*{
  margin: 0px;
  padding:0px;
  font-family: 'Karla', sans-serif;
}

/* Navigation content*/

.img1{
  display: flex;
  justify-content: left;
  height: auto;
  width: 20%;
}

.container{
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  margin-right: 150px;
}

.container a{
  text-decoration: none;
  color: black;
}

.container li{
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}


/*Header Content*/

#hero{
  background-color: #495E57;
  display: flex;
}


.main-content{
  display: block;
  margin-left: 7em;
  width: 380px;
  margin-top: 70px;
  font-size: x-large;
}

.main-content h1{
  color: #F4CE14;
  line-height: 1.5em;
  font-family: 'Markazi', sans-serif;

}

.main-content h2{
color: white;
line-height: 2em;
}

.main-content p{
color: white;
line-height: 1.5em;
}


.img2{
  display:block;
  border-radius: 15px;
  margin-left: 45em;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.but1{
  display: flex;
  flex-direction: column;
  align-self: baseline;
  background-color: #F4CE14;
  border-radius: 25px;
  border: none;
  width: 150px;
  height: 45px;
  font-size: large;
  line-height: 2.5em;
  padding-left: 10px;
  margin-top: 70px;
}

/*Main body content*/

main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin-top: 60px;
}

main h2{
  padding-left: 8em;
  font-size: 35px;
}

#specials{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



.box-one{
  display: block;
  margin-left: 100px;
  margin-top: 100px;
  width: 270px;
}

.card-body{
  background-color: #f2efef;
  padding: 1em;
  display: block;
  height: 20em;
}

.card-img-1{
  height: 180px;
  width: 270px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: -5px;
}

.card-img-2{
  height: 180px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: -5px;
}

.card-img-3{
  height: 180px;
  width: 270px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: -5px;
}

.but2{
  background-color: #F4CE14;
  border-radius: 25px;
  border: none;
  width: 160px;
  height: 45px;
  font-size: large;
  line-height: 2.5em;
  padding-left: 5px;
  margin-right: 125px;
  align-self: flex-end;
}

/* Testimonial Content*/

#test{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  color: #F4CE14;
  width: 100%;
  background-color: #495E57;
}

.review-container{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  width: 100%;
  color: black;
}

.review{
  display: block;
  height: 230px;
  margin: 2em;
  width: 260px;
  background-color: #f2efef;
  border-radius: 15px;
}

#star{
  display: block;
  width: 30%;
  margin: 10px;
  margin-left: 6em;
}

#profile{
  border-radius: 500px;
  width: 30%;
  margin-left: 6em;
  margin-top: 10px;
}

.review h2{
  text-align: center;
  padding-left: 5px;
  font-size: large;
  margin-top: 20px;
}

.one{
  padding-left: 5px;
  padding-top: 5px;
}

.two{
  padding-left: 20px;
  padding-top: 5px;
}

.three{
  margin-left: 8px;
  text-align: center;
  font-size: 14px;
  padding-top: 5px;
}

.four{
  padding-left: 20px;
  padding-top: 5px;
}

/* About Content*/

#owners{
display: inline-flex;
width: 300px;
height: 600px;
position: relative;
}


.front{
  width: 480px;
  border-radius: 5px;
  margin-left: 65em;
  position: absolute;
  z-index: 2;
  top: 150px;

}

.back{
  width: 480px;
  border-radius: 5px;
  margin-left: 80em;
  position: absolute;
  z-index: 1;
}


#about{
  display: flex;
  height: 50px;
  width: 48em;
}

.a_content{
  margin-left: 150px;
  margin-top: 100px;
  font-size: x-large
}

.a_content h3{
  line-height: 1.5em;
  font-size: 50px;
}

.a_content h4{
  line-height: 1.5em;
}

.a_content p{
  margin-top: 25px;
  line-height: 1.5em;
  font-weight: 300
}


/*Footer Content*/
.logo{
  display: flex;
  width: 15%;
  margin-right: 5px;
}

#bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#bottom a{
  text-decoration: none;
  color: black;
}

#bottom h4{
  width: 100%;
  font-size: 25px;
  margin-bottom: 30px;
}

.container_2{
  list-style: none;
  display: block;
  font-size: large;
}

.container_3{
  list-style: none;
  display: block;
  font-size: large;
}

.container_4{
  list-style: none;
  display: block;
  font-size: large;
}